/* styles.css */

 #onlyredtext {
    color: white;
    background-color: red;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
  }

  .alert-text {
    color: blue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 200px;
    font-weight: 100;
  }